<div class="back">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="margin-bottom: 20px;">
            <a class="navbar-brand" href="#"><img src="../../assets/images/logo-removebg-preview.png" height="50px" width="80px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse hover" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                
                  <li class="nav-item active">
                    <a class="nav-link btn btn-secondary" [routerLink]="['/home']"><i class="bi bi-telephone-fill"></i>Log Out</a>
                  </li>
              </ul>
              
            </div>
          </nav>
    </header>
    
    <article class="container">
      <div class="parts container row" style="padding-bottom: 10px; margin-top: 50px; width: 101%;">
        <div class="row">
          
            <div class="col-md-10 text-center" style="margin-top: 40px; padding-bottom: 30px;">
              <form ngNativeValidate>
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="admin" name="username" [(ngModel)]='username' aria-describedby="emailHelp" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Old Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]='password' id="exampleInputPassword1" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label>
                    <input type="password" class="form-control" name="newpassword" [(ngModel)]='newpassword' id="exampleInputPassword1" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input type="password" class="form-control" name="newpassword2" [(ngModel)]='newpassword2' id="exampleInputPassword1" required>
              </div>
                
              <a [routerLink]="['/adminhome']"><button type="submit" class="btn btn-secondary" style="margin-right: 10px;">Back</button></a>
                <button type="submit" [disabled]="!username||!password||!newpassword||!newpassword2" class="btn btn-secondary" (click)='reset();'>Reset password</button>
                
              </form>
            </div>
            <div class="col-md-2 text-center" style="padding-bottom: 30px;">
              <img src="../../assets/images/admin.jpg" height="400px" width="500px">
          </div>
            
        </div>
    </div>
        
        
      
    </article>
    
    <footer>
        <div class="row sgn" style="margin-top: 20px;">
            <div class="col-md-12 text-center bg-secondary" style="margin-top: 20px; padding-bottom: 20px; padding-top: 20px; ">
                <p style="font-weight: bold;">A place where you can save more with us and feed healthy to your family...</p>
            </div>
        </div>
        <div class="row  text-center text-white bg-dark">
            <div class="col-md-12">
                <p style="padding-top: 10px; font-weight: bold;">&copy; copyrights : E-Kitchen</p>
            </div>
        </div>
    </footer>
    </div>
    